body {
    height: 100%;
    width: 100%;
    max-width: 1300px;
    display: flex;
    background-color: lightgrey;
    background-image: url("assets/tempbackground.jpg");

}

aside {
    width: 30%;
    display: flex;
    align-items: center;
    height: 100vh;
}

nav {
    margin: 1%;
    padding: 0;
    width: 100%;
    height: 60%;
    /* background-color: #444444; */
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Rockabilly';
    /* font-size: 2em; */
    border-radius: 13%;

}

.btn {
    background: #444444;
    border: 2px solid #fff58b;
    width: 40vh;
    height: 10vh;
    font-size: 4.5vh;
    text-align: left;
    letter-spacing: 1.5px;
    transform: skew(-45deg) rotate(-13deg);
    margin-left: 10vh;
}

.btn:hover {
    background: #fff58b;
    border: 2px solid #444444;
    color: #444444;
}

/* a {
    text-decoration: none;
    color: #FFFFFF;
} */

main {
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* stack of flyers */
/* about flyer */
.about {
    background: linear-gradient(#f96437, #f0f065, #0e83e9);
    width: 54vh;
    height: 82vh;
    /* margin: 3%; */
    transform: rotate(6deg);
    border: 2.5px solid #FFFFFF;
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    font-family: AHDN;
    align-items: center;
}

.about h1 {
    color: #000000;
    width: 50vh;
    height: 10vh;
    padding: 5% 0%;
    margin: 0;
    font-size: 7vh;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    z-index: 4;
}

.about img {
    width: 75%;
    height: 25vh;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid #000000; */
    filter: grayscale(100%) contrast(70%);
    z-index: 4;
}

.about p {
    width: 90%;
    height: 20vh;
    margin: 0 auto;
    text-align: justify;
    position: relative;
    font-size: 3vh;
    letter-spacing: .5px;
    z-index: 4;

}

/* projects flyer */
.projects {
    background: linear-gradient(135deg, #84249f, #f96437);
    width: 54vh;
    height: 82vh;
    /* margin: 2.5%; */
    transform: rotate(-28deg);
    border: 3px groove #f96437;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.projects h1 {
    /* look into curving header with jquery */
    font-family: Flames;
    color: #ff8400;
    text-shadow: 1px 1px #FFFFFF;
    width: 50vh;
    height: 10vh;
    margin: 5% auto;
    font-size: 12vh;
    position: relative;
    text-align: center;
    letter-spacing: 5px;
    z-index: 3;
}

/* testimonials flyer */
.testimonials {
    background: linear-gradient(#f5f4f4, #e4dfdf);
    width: 54vh;
    height: 82vh;
    /* margin: 1%; */
    transform: rotate(-5deg);
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    z-index: 2;
}

.testimonials h1 {
    font-family: 'CF PunkRockShow';
    color: #131212;
    width: 50vh;
    height: 10vh;
    margin: 5% auto;
    transform: rotate(-3deg);
    font-size: 8vh;
    position: relative;
    text-align: center;
    z-index: 2;
}

.testimonials img {
    width: 75%;
    height: 20vh;
    margin: 5% auto;
    position: relative;
    transform: rotate(11deg);
    border: 1px solid #000000;
    z-index: 2;
}

.testimonials p {
    font-family: AllAgesDEMO;
    font-style: italic;
    font-size: 2.5vh;
    text-align: justify;
    width: 90%;
    height: 35vh;
    margin: 2% auto;
    transform: rotate(3deg);
    position: relative;
    z-index: 2;
}

/* contact flyer */
.contact {
    background: linear-gradient(#f0f065,#cde98a, #90c192);
    width: 54vh;
    height: 82vh;
    margin: 0;
    transform: rotate(3deg);
    border: 2px solid #FFFFFF;
    position: absolute;
    z-index: 1;
    font-family: QuentinCaps;
    text-align: center;
}

.contact h1 {
    color: #131212;
    width: 50vh;
    height: 10vh;
    margin: 3% auto;
    font-size: 3em;
    position: relative;
    text-align: center;
    z-index: 1;
}

.contact p {
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

form {
    display: grid;
    grid-template-rows: 20% 50% 20%;
    grid-template-columns: repeat(2, 40%);
    grid-gap: 1% 5%;
    width: 52vh;
    height: 25vh;
    margin: 3% auto;
}

.message input, textarea {
    border: 2px solid #000000;
    padding: 5px;
}
#commentName {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    text-align: start;
}

#commentEmail {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    text-align: start;
}

#commentComment {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    text-align: start;    
}

#commentSubmit {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}
